In [1]:
import pandas as pd

people_dict = { "weight": pd.Series([68, 83, 112],index=["alice", "bob", "charles"]),   "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
"children": pd.Series([0, 3], index=["charles", "bob"]),
"hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),}

In [2]:
people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

In [5]:
people.sort_values(by=['birthyear'],ascending=[True],inplace=False)

         weight  birthyear  children    hobby
bob          83       1984       3.0  Dancing
alice        68       1985       NaN   Biking
charles     112       1992       0.0      NaN

In [6]:
people['birthyear']

alice      1985
bob        1984
charles    1992
Name: birthyear, dtype: int64

In [7]:
people['param']=[1,2,3]

In [8]:
people.head()
#tail,info,describe

         weight  birthyear  children    hobby  param
alice        68       1985       NaN   Biking      1
bob          83       1984       3.0  Dancing      2
charles     112       1992       0.0      NaN      3

In [9]:
people.drop(columns='birthyear')

         weight  children    hobby  param
alice        68       NaN   Biking      1
bob          83       3.0  Dancing      2
charles     112       0.0      NaN      3

In [14]:
people.loc['alice']

weight           68
birthyear      1985
children        NaN
hobby        Biking
param             1
Name: alice, dtype: object

In [16]:
people.iloc[0]

weight           68
birthyear      1985
children        NaN
hobby        Biking
param             1
Name: alice, dtype: object